* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* background-color: yellow; */
}

#main-info h1 {
    font-size: 8rem;
    text-align: center;
    margin: 30% auto;
    background: linear-gradient(to right, #011e1f 70%, #f5ca9e);
    background-clip: text;
    color: transparent;
}

@keyframes button-drop {
    0% {
        top: -10rem;
    }
    25% {
        top: 39rem;
    }
    50% {
        top: 39rem;
        transform: rotate(40deg);
    }
    75% {
        top: 39rem;
        transform: rotate(15deg);
    }
    100% {
        top: 42rem;
        transform: rotate(25deg);
    }
}
