* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* background-color: yellow; */
}

#main-info h1 {
    font-size: 6.5rem;
    text-align: center;
    margin: 40% auto;
}

.view-more {
    position: relative;
    top: -20rem;
    display: block;
    text-align: center;
}

.view-more p {
    margin: 2.3% auto;
}

@keyframes button-drop {
    0% {
        top: -10rem;
    }
    25% {
        top: 45rem;
    }
    50% {
        top: 45rem;
        transform: rotate(40deg);
    }
    75% {
        top: 45rem;
        transform: rotate(15deg);
    }
    100% {
        top: 50rem;
        transform: rotate(25deg);
    }
}
