* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* background-color: yellow; */
}

#main-info h1 {
    font-size: 8rem;
    text-align: center;
    margin: 40% auto;
    background: linear-gradient(to right, #011e1f 70%, #f5ca9e);
    background-clip: text;
    color: transparent;
}

#no-display {
    display: none;
}

ul li {
    list-style-type: none;
    font-size: 1.8rem;
    padding: 2% 3%;
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
    top: -10rem;
    animation: button-drop 5s linear 0.3s forwards;
}

.view-more {
    position: relative;
    top: -13rem;
    display: block;
    text-align: center;
}

.view-more p {
    margin: 2.7% auto;
}



@keyframes button-drop {
    0% {
        top: -10rem;
    }
    25% {
        top: 50rem;
    }
    50% {
        top: 50rem;
        transform: rotate(40deg);
    }
    75% {
        top: 50rem;
        transform: rotate(15deg);
    }
    100% {
        top: 53.5rem;
        transform: rotate(25deg);
    }
}
