* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: yellow; */
}

.intro h2 {
    font-size: 4rem;
    margin: 3% auto;
}

.intro p {
    font-size: 2rem;
    margin: 4% auto;
}


.intro img {
    margin: 6% auto;
    width: 80%;
    border-radius: 40%;
    /* height: 60rem; */
}

#about h3 {
    /* text-align: center; */
    font-size: 3.7rem;
}

#about p {
    font-size: 1.7rem;
    margin: 1% auto;
}

#projects h2 {
    margin: 5% auto;
}

#projects img {
    height: 21rem;
}

#skills-tech div {
    margin: 4% auto;
    width: 80%;
    padding: 10% 6%;
}

#get-in-touch h3 {
    font-size: 2.9rem;
    margin: 4% 5.5%;
}

#get-in-touch div {
    width: 90%;
}

#get-in-touch div a {
    text-decoration: none;
    font-size: 2rem;
    margin: 0 5%;
}

#contact {
    /* width: 90%;
    margin: 3% auto; */
    width: 94%;
    margin: 3% 5.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact input {
    padding: 3% 4%;
    width: 94%;
    margin: 1% auto;
    border-radius: 15px;
    border: none;
    font-size: 1.5rem;
}

textarea {
    resize: none;
    padding: 2%;
    width: 94%;
    margin: 1% auto;
    height: 15rem;
    border: none;
    border-radius: 15px;
    font-size: 1.7rem;
}
