* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    /* background-color: yellow; */
}

/* MAIN STYLING */
header {
    padding: 5% 4% 1%;
}

.intro h2 {
    font-size: 5rem;
    margin: 1.5% auto;
}

.intro p {
    font-size: 2.2rem;
}

.intro img {
    margin: 7% auto 4%;
    width: 45%;
    border-radius: 40%;
    /* height: 60rem; */
}

#about h3 {
    text-align: center;
    font-size: 4rem;
}

#about p {
    font-size: 1.75rem;
    margin: 2% auto;
}

#projects img {
    height: 39rem;
    width: 100%;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#skills-tech div {
    padding: 4% 3.5%;
    border: 1px solid black;
    border-radius: 15px;
    width: 30%;
    transition: all 1s ease-in-out;
}

#skills-tech div p {
    font-size: 1.65rem;
    margin: 13% auto;
}

#get-in-touch div {
    width: 43%;
    padding: 2%;
    border: 1px solid black;
    margin: 2% auto;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#get-in-touch div a {
    text-decoration: none;
    font-size: 1.9rem;
    margin: 0 5%;
}

#contact {
    /* width: 90%;
    margin: 3% auto; */
    width: 100%;
    margin: 3% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact h3 {
    font-size: 2.9rem;
    margin: 2% 0;
    position: relative;
}

#contact input {
    padding: 2%;
    width: 80%;
    margin: 1% auto;
    border-radius: 15px;
    border: none;
    font-size: 1.7rem;
}

textarea {
    resize: none;
    padding: 2%;
    width: 80%;
    margin: 1% auto;
    height: 15rem;
    border: none;
    border-radius: 15px;
    font-size: 1.7rem;
}
