* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 5% auto;
    overflow: auto;
    background-size: 1000% 1000%;
    background-attachment: fixed;
    height: 120vh;
    background: linear-gradient(#191970, #000000, #191970);
    /* background: linear-gradient(135deg, #0d0d3b 20%, #0a0a0a 60%, #000000 100%); */
    /* animation: background-animation 10s ease infinite; */
}

@keyframes background-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    margin: 2% auto;
    text-align: center;
    font-size: 4rem;
    color: #f5f5ff;
}

img {
    width: 90%;
    display: block;
    margin: 5% auto;
    border-radius: 15px;
}

input {
    display: block;
    text-align: center;
    margin: auto;
    padding: 1% 3%;
    font-size: 1.8rem;
    border: none;
    border-radius: 10px;
    color: #0a0a0a;
}

input:hover {
    cursor: pointer;
    color: #0d0d3b;
}

a {
    text-decoration: none;
}

#view-more {
    margin: 3% auto 10%;
}


/* @keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
} */
